@mixin columnflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin rowflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
